{% extends 'base.html.twig' %}

{% block title %}Activation de votre compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Activation de compte</h1>

        {% if app.flashes('success') %}
            <div class="alert alert-success">
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <p>Votre compte a été activé avec succès !</p>

{#        <p>URL d'activation de débogage :#}
{#            {% if activationUrl is defined %}#}
{#                <a href="{{ activationUrl }}">{{ activationUrl }}</a>#}
{#            {% else %}#}
{#                Non disponible#}
{#            {% endif %}#}
{#        </p>#}

        <a href="{{ path('app_login') }}" class="btn btn-primary">
            Se connecter
        </a>
    </div>
{% endblock %}