{% extends 'base.html.twig' %}

{% block title %}Confirmez votre compte{% endblock %}

{% block body %}
    <p>Bienvenu(e) {{ user.surname }},</p>

    <p>Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :</p>

    <p>
        <a href="{{ activationUrl }}">Activer mon compte</a>
    </p>

    <p>Si vous n'avez pas créé de compte, ignorez cet email.</p>

    <p>Cordialement,
        <br>L'équipe Sortir</p>
{% endblock %}
