@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #B6D5DF;
}

input::placeholder, textarea::placeholder {
    color: #9c9c9c; /* gray-500 en Tailwind */
}

.map-container {
    position: relative;
    height: 600px; /* Hauteur fixe */
    overflow: hidden; /* Empêche le débordement */
}

.map-container .ux-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}