@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #B6D5DF;
}

#map {
    height: 500px; /* Ajuste selon ton besoin */
    width: 100%;
    border-radius: 10px;
}
