<form method="post" action="{{ path('app_group_delete', {'id': group.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer ce groupe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <button type="submit"
            class="text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-lg transition-colors duration-300">
        Supprimer
    </button>
</form>