{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h2>{{ controller_name }}</h2>
    <br>
    <div>
        {{ form(profilForm) }}
        <br>
        <button type="submit" class="btn">Valider</button>
        <button type="reset" class="btn">Annuler</button>
    </div>
    <form action="{{ path("user_delete", {id: user.id}) }}" method="POST">
        {% if app.user and app.user.id == user.id %}
            <button type="submit" class="btn">Supprimer mon compte</button>
        {% elseif "ROLE_ADMIN" in app.user.roles %}
            <button type="submit">Supprimer utilisateur</button>
        {% endif %}
    </form>

{% endblock %}